# Dependencies
node_modules
package-lock.json


# Production build
dist
dist-ssr
tasks

# Debug logs
npm-debug.log*
pnpm-debug.log*

# Local env files
*.local

# System files
.DS_Store
*.tsbuildinfosrc/output.css
# Ignore video and documentation files
*.hvc
*.mp4
*.mkv
*.md
*.avc
*.txt

