# Dependencies
node_modules
package-lock.json


# Production build
dist
dist-ssr

# Doc & other features 
doc
tasks
test
dash
# Debug logs
npm-debug.log*
pnpm-debug.log*

# Local env files
*.local

# System files
.DS_Store
*.tsbuildinfosrc/output.css
# Ignore video and documentation files
*.hvc
*.mp4
*.hevc
*.mov
*.mkv
*.md
*.avc
*.aac
*.docx
*.pdf
*.txt

